@import "css3-mixins.scss";

.builder {
	position:relative;
	background-color:#eee;
	width:100%;
	height:100%;
}

.builder-block {
	position:absolute;
	background-color:#ccc;
	border: 1px inset #eee;
	@include transition(all, 100ms, linear);
}

.builder-block.active {
	background-color:#ddd;
	border-color:#ddd;
}
@for $row from 1 through 24 {
	@for $col from 1 through 24 {
		.cell-#{$row}-#{$col} {
			left:#{($col - 1) * 8.333333333%};
			top:#{($row - 1) * 8.333333333%};
		}
		.size-#{$col}-#{$row} {
			width:#{$col * 8.333333333%};
			height:#{$row * 8.333333333%};
		}
	}
}

.tool-bar {
	z-index:999;
	position:absolute;
	list-style:none;
	top:0em;
	right:0em;
	padding-left:0em;
	margin-bottom:0em;
}

.tool-item {
	margin-top:1em;
	@include transition(all, 100ms, linear);
}

.hide {
	display:none;
}

.field-toolbar {
	position:absolute;
	left:0em;
	top:0em;
	list-style:none;
	z-index:999;
	margin-bottom:0em;
	padding-left:0em;
	.table-block {
		text-align:center;
		.table-header {
			background-color:#b3b3b3;
			font-weight:bold;
			padding:0em 0.3em;
			font-size:1.2em;
		}

		.table-fields {
			list-style:none;
			margin:0em;
			padding:0em 0.3em;
			background-color:#fff;
		}
		.table-fields > li {
			cursor:move;
			padding-top:0.5em;
		}
	}
}

.field-block {
	position:relative;
	float:left;
	padding: 0.25em;
    border: 1px solid #ddd;
    margin: 0.15em;
    @include box-shadow(0px, 0px, 10px, #eee);
    background-color: #bebebe;
	.close {
		margin-left:0.25em;
	}
}

.visual-element-editor {
	right:0em;
	top:5em;
	left:initial;
}
.popover.in {
	display:block;
}
